nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  position: fixed;
  font-size: 1.5em;
  
}

nav Span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
}

.NavTitle {
  font-family: 'Bungee', cursive;
}

.fa-angles-down {
color: red;
}