/* Adjust position of content within nav header. 
Customize size and color of header bar */
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 1.5em;
  position: fixed;
}

/* Adjust the position of "Write a new tweet" 
and its respective icon located on nav */
nav Span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
}

/* Change color of the icon for writing new tweet */
.fa-angles-down {
color: red;
}

/* Change color of the icon for writing new tweet when hovering */
.fa-angles-down:hover {
  color:blue;
  cursor: pointer;
}

/* Change main tweeter font on nav */
.NavTitle {
  font-family: 'Bungee', cursive;
}

/* Custom setting for the button that scrolls back to top of page */
#scrollToTop {
  position: fixed;
  right: 1%;
  bottom: 1%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 2.5em;
  outline: none;
  cursor: pointer;
}

/* Custom setting for the button that scrolls back to top of page when hovering */
#scrollToTop:hover {
  background:blue;
}
