article {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid #545149;
}

article:hover {
  box-shadow: 0 0 5px 5px #545149;
}

article p {
  margin: 1%;
}

article footer {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  padding-top: 1%;
  border-spacing: 30%;
  border-top: 3px solid #545149;
  font-size: 0.75em;
}

article footer span {
  width: 10%;
  display: flex;
  justify-content: space-around;
}

article header h3.atName {
  display: flex;
  justify-content: flex-end;
  font-weight: normal;
  width: 100%;
  margin: 1%;
}

article footer span i:hover {
  color:red;
}